.hero-section{
  position: relative;
  z-index: 1;
  color: whitesmoke;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  background-color: rgb(31, 31, 31, 0.8);
  width: 90%;
  padding: 10px 0;
}

.hero-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin: 8px;
}

.hero-name, .hero-text-intro{
  margin: 0;
  padding: 0;
}

.images-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.hero-trai-img{
  object-fit: cover;
  width: 35%;
  height: 350px;
  border-radius: 20px;
  
}

.next-btn , .prev-btn{
  display: none;
}

