@media(min-width:1024px){
  .hero-section{
    position: relative;
    z-index: 1000;
    color: whitesmoke;
    background-color: transparent;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center; 
  }

  .hero-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    padding: 10px;
    width: 80%;
  }

  .hero-description{
    font-size: 18px;
  }

  .hero-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .hero-cta-btn{
    height: 35px;
    width: 350px;
    border-radius: 20px;
    border:none;
    background-color: darkred;
    color: whitesmoke;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    cursor:pointer;
  }

  .hero-cta-btn:hover{
    cursor: pointer;
  }
  .hero-be-water{
    color: whitesmoke;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 10px 0;
  }
}