@media(min-width: 1024px){
  .kontakt-ort-section{
    position: relative;
    z-index: 1000;
    color: whitesmoke;
    margin: 1.5% 0;
    gap:20px;
    background-color: rgb(31, 31, 31); 
    border-radius: 20px;
    height: fit-content;
    padding: 10px;
  }

  .title-location-container{
    margin: 10px;
    
  }

  .link-location-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
  }

  .kontakt-adress{
    display: flex;
    flex-direction: row;
    background-color: rgba(245, 245, 245, 0.668);
    border-radius: 20px;
    padding: 10px 50px;
    gap:30px;
    line-height: 1.0;
    
  }

  .adresse{
    background-color: rgba(245, 245, 245, 0.668);
    border-radius: 20px;
    padding: 10px 50px;
  }


  .info-title{
    color:darkred;
    font-size: 18px;
    font-weight: 500;
  }

  .info-text{
    text-align: start;
    color: black;
  }
}