
@media(min-width:1024px){
  body{
    padding:0 ;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width:1023px){
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0 0 0 ;
    margin: 0;
  }
}

.main{ 
  display: flex;
    flex-direction: column;
    align-items: center;
}



body{
  box-sizing: border-box;
  background-image: url('../../images/background-img-2.png');
  background-color: rgb(31, 31, 31);
  background-attachment:fixed, scroll;
  background-repeat: no-repeat;
  background-size: cover;
}




h1{
  color: darkred;
  margin:0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

h2{
  color: darkred;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 900;
  margin: 15px;
}

h3{
  color: whitesmoke;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
}

h4{
  color: whitesmoke;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
   text-align: center;
}

p{
  color: whitesmoke;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-align: center;
}

.hero-cta-btn{
    height: 35px;
    width: 350px;
    border-radius: 20px;
    border:none;
    background-color: darkred;
    color: whitesmoke;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    cursor:pointer;
  }

  .hero-cta-btn:hover{
    cursor: pointer;
  }